---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/ui/button";
---

<Layout>
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <div class="grid place-items-center h-screen content-center">
    <Button>Button</Button>
  </div>
</Layout>
