---
import Layout from "../layouts/Layout.astro";
import { getAllBoardsData } from "../lib/data";
import BoardList from "../components/BoardList.astro";
import { siteConfig } from "@/config/site";
// Get all board data
const boardsData = await getAllBoardsData();
---

<Layout title="Development Boards">
  <h1 class="justify-center text-4xl flex">{siteConfig.name}</h1>
  <p class="justify-center text-xl flex my-4 max-w-4xl mx-auto">
    {siteConfig.description}
  </p>
  <div class="max-w-4xl mx-auto">
    <BoardList boards={boardsData} />
  </div>
</Layout>
