---
import { siteConfig } from "@/config/site";
---

<footer class="border-t py-4 mt-8">
  <div class="container mx-auto px-4 text-center text-sm text-muted-foreground">
    &copy; {new Date().getFullYear()}
    <a href={siteConfig.links.github} target="_blank" rel="noopener noreferrer">
      {siteConfig.name}.</a
    > All rights reserved.
  </div>
</footer>
