---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Analytics from "@vercel/analytics/astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { ClientRouter } from "astro:transitions";

export interface Props {
  title: string;
}

const lang = getLangFromUrl(Astro.url);
const { title } = Astro.props;
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=`${title} ${t("og.title")}` />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Analytics />
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-background text-foreground">
    <Header />
    <main class="mx-auto px-4 py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
